<a href="https://colab.research.google.com/github/stutibimali/Webscrapping/blob/main/DataCollection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA COLLECTION

In [1]:
#import
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
#creating empty list

reviews=[]
stars=[]
date=[]
country=[]

In [3]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100


# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    #reviews
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    #stars
    for para in parsed_content.find_all("div", {"class": "rating-10"}):
      try:
          stars.append(para.span.get_text())
      except:
          print(f"Error on page {i}")
          stars.append("None")
    #country
    for para in parsed_content.find_all("h3",{"class":"text_sub_header userStatusWrapper"}):
        a=para.get_text().strip()
        last= a.rfind('(')
        first=a.find(')', last)
        country.append(a[last + 1 : first])
    #date
    for para in parsed_content.find_all("time"):
        date.append(para.text)
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [4]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified |  The incoming and outgoing f...
1  ✅ Trip Verified |  Back in December my family ...
2  ✅ Trip Verified |  As usual the flight is dela...
3  ✅ Trip Verified | A short BA euro trip and thi...
4  Not Verified |  We are flying Business class f...

In [5]:
df = pd.DataFrame()
df["stars"] = stars
df.head()

                           stars
0  \n\t\t\t\t\t\t\t\t\t\t\t\t\t5
1                              1
2                              1
3                              1
4                              8

In [6]:
df = pd.DataFrame()
df["country"] = country
df.head()

          country
0  United Kingdom
1       Australia
2  United Kingdom
3  United Kingdom
4   United States

In [7]:
df = pd.DataFrame()
df["date"] = date
df.head()

              date
0  10th March 2023
1  10th March 2023
2  10th March 2023
3   9th March 2023
4   8th March 2023

In [8]:
len(reviews)

1000

In [9]:
len(country)

1000

In [10]:
stars = stars[:1000]

In [11]:
# create a data frame to store all

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | The incoming and outgoing f...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,10th March 2023,United Kingdom
1,✅ Trip Verified | Back in December my family ...,1,10th March 2023,Australia
2,✅ Trip Verified | As usual the flight is dela...,1,10th March 2023,United Kingdom
3,✅ Trip Verified | A short BA euro trip and thi...,1,9th March 2023,United Kingdom
4,Not Verified | We are flying Business class f...,8,8th March 2023,United States

In [12]:
df.shape

(1000, 4)

In [13]:
import os
cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")